html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#pink {
  background: pink;
}

#green {
  background: green;
}
#orange {
  background: orange;
}
#purple {
  background: purple;
}

#indigo {
  background: indigo;
}
#violet{
  background:violet;
}
