body {
     background-color:#212121; 
    color: #fff;
  }

  div{
    display: inline-block;
    height:50px;
    width:160px;

    
 }

 #container{
    height:300px;
    width:300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top:115px;
    margin-left:450px;

    
    
    



 } 

 #LocalTime{
    background-color:rgb(255, 179, 2);
    border-radius: 10px;
    color: black;
    margin-bottom: 25px;
    font-size: 32px;
    
 }

 #realtime{
    
    border:5px solid black;
    border-radius: 5px;
    font-size: 30px;
    
    color: white;
    font-family: Arial;
    text-transform: capitalize;

 }





